<div class="abthm lpad15">
  <h5><%= link_to "Home", welcome_index_path, class:  "cfont font18 .lpad10" %></h5>
</div>
<div class="bgcenter ">
  <h1 class="ggggfont lpad25">EYENYLITICS</h1>
<div>
<div class="row pad25">
  <h4 class="infoinfo tpad50">The accurate collection and interpretation of site data is critical to accurately forcasting demand, determining peak customer traffic, and making decisions that affect both the near and long run future of your enterprise.  Eyenylitics is a provider of web analytics that offers a perspective into site activity that then lends better understanding of the strengths and weaknesses of organizational objectives as they relate to the data obtained.  Eyenylitics offers an interface that tracks events on a website and stores those events to a secure database with the aim of later application to organizational objectives.</h4>
</div>
<div class="topline glyphist">
  <a class="glyphicon glyphicon-align-left glyphist"></a>
  <a class="glyphicon glyphicon-stats lmar25 rmar25 glyphist"></a>
  <a class="glyphicon glyphicon-align-right glyphist"></a>
</div>
