<div class="bglayer lpad25">
  <div class="container wid50 rpad0">
    <div class="container pull-right">
      <h5><%= link_to "Home", welcome_index_path, class: "pull-right bfont font18 rmarneg15" %></h5>
    </div>
    <div class="container pull-right">
      <h5><%= link_to "About", welcome_about_path, class: "pull-right bbfont font18 rmarneg15" %></h5>
    </div>
  </div>
  <div class="wid150 maxwid75per">
    <h1 class="gfont tpad">Linear. Rational. Logical.</h1>
    <h4 class="gfont bpad">Make data-driven decisions.</h4>
  </div>
</div>
<div class="tablepics">
  <table>
    <tr>
      <th><%= image_tag("bizmeetpic1.jpg", :alt => "bizmeet", class:"tmarneg25") %></th>
      <th><h3 class="abcfont">Realtime metrics</h3>
    </tr>
    <tr>
      <th><h3 class="abcdfont">Proven Results</h3>
      <th><%= image_tag("bizmeetpic2.jpg", :alt => "bizmeet2", class:"bmarneg25") %></th>
    </tr>
  </table>
